// Replace "Nodeca" text in navbar with logo.svg
//

@import "nodeca.core/client/common/_variables"

.navbar-brand
  background-image url('$$ asset_url("nodeca.site/client/common/nodeca_logo/logo.svg") $$')
  background-repeat no-repeat
  background-size 100px auto
  background-position 0 7px

  width 136px
  margin-right 1rem !important

  // hide text, but still make it available for screen readers and such;
  // avoid text appearing when user highlights it
  text-indent -1000px
